body{
    background-color: #fff;
    text-align: center;
}

.jumbotron{
    background-color: #3b5998;
    color: #fff;
    text-align: center;

}

.btn-light{
    color: #3b5998;
}

#results-modal{
    text-align: center;
}
